a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*colors:
    #E68530

    #FFA14F
    #995011

    #30C4E6
    #027D99

    #47E6AA

*/

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav {
    background-color: #303030;
    height:contain
    
    
}

.nav a {
    color: #E68530;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Tahoma', sans-serif;
    font-size: 1.1rem;
    padding-right: 1rem;
}

.nav a:hover {
    color: white;
    background-color: #383838;
       
}

.pageTitle {
    font-size:1.5rem;
    font-family: 'Helvetica', sans-serif;
    color: #027E99;
    text-transform: uppercase;
    padding-bottom:2rem
}

.table {
    font-family: 'Helvetica', sans-serif;
}

.btn   {
    font-family: 'Helvetica', sans-serif;
   
}